.fasta {
	border-radius: 50px;
	font-size: 160%;
	height: 55px;
	line-height: 50px;
	background-color: #FFF;
	color: #000;
	border: 1px solid;
}

.alturungrup1>a.selected {
	background-color: #000;
}

table.product-prop {
	width: 300px !important;
}

.alturungrup1>a.selected>p {
	color: #fff;
}


.btn-basket-buy {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-basket-buy img {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	height: 80px;
}

.fasta>span {
	background-color: #000 !important;
	border-radius: 100px;
	width: 40px !important;
	height: 40px;
	margin-top: 6px;
	margin-left: -10px;
}

#productBrandText {
	font-size: 14px;
	font-weight: 700;
	color: #000;
}

#productDetailTab table {
	color: #f1f1f1 !important;
}

.subOne #subPro {
	display: none;
}

#productName {
	font-size: 1em;
	font-weight: 900;
	color: #000;
	z-index: 2;
}

.mainPrices .discountPrice {
	font-size: 14px;
	font-weight: 500;
	color: #737373;
}

.productName {
	font-size: 20px;
	font-weight: 600;
}

.productBrandImg {
	margin-bottom: 10px;
}

.productComment {
	width: 87px;
}

.comment-btn {
	padding-left: 17px;
	line-height: 30px;
	color: #000;
	font-size: 11px;
	background: url('commentIcon.png') no-repeat 0 center;
}

.mainPrices {
	position: relative;
}

.priceLine,
.variantLine,
.noteLine {
	line-height: 23px;
	font-size: 16px;
}

#urun-tab {
	padding-bottom: 120px;
	background-color: #17171d;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
}

.currencyPrice {
	color: #373737;
	margin-left: 30px;
	margin-top: 5px;
	font-size: 22px;
}

.normalPrice {
	font-size: 19px;
}

.discountPrice {
	font-size: 32px;
	font-weight: lighter;
	color: #373737;
}

.variantLine,
.noteLine {
	line-height: 30px;
	padding-top: 5px;
}

#content>.inner {
	width: 100%;
}

.prduct-code-buy-alt {
	display: flex;
	text-align: left;
	justify-content: left;
	margin-top: 10px;
	margin-bottom: 10px;
}

.prduct-code-buy-alt>span {
	color: #616161;
	font-size: .7em;
	font-weight: 500;
	width: 100%;
}

#category-path {
	color: #2b91e2;
	font-weight: 600;
	text-transform: lowercase !important;
	width: max-content;
	font-size: 1.5rem;
}

.productThumbs li .image-wrapper {
	width: 100%;
	background-color: transparent;
	border: 2px solid #000;
	;
	margin: 0 3px;
	height: 23px;
	width: 23px;
	border-radius: 50px;
}

.productThumbs li.active .image-wrapper {
	background-color: #000000;
	border: 2px solid #000000;
}

.variantWrapper>.subOne>div>a.box-border:hover,
.variantWrapper>.subOne>div>a.box-border>p:hover {
	background-color: #313132;
	color: #fff !important;
}

.variantBox a.selected,
.variantBox a.selected p {
	background-color: #313132;
	color: #fff !important;
}

.variantBox a.passive {
	background: #d2d2d2;
	text-decoration: line-through;
	color: #f10a41;
	display: none;
}

.variantBox select {
	min-width: 130px;
	background: url('/Data/EditorFiles/ok.png') no-repeat right center;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	font-size: 20px;
}

.imageInner {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
}

.noteLine {
	padding-top: 0;
}

.noteBox textarea {
	min-width: 250px;
	height: 40px;
	font-size: 12px;
	color: #666;
	word-break: break-all;
}

.productFunction {
	line-height: 15px;
	font-size: 11px;
	color: #b1b1b1;
	text-transform: uppercase;
	padding-left: 20px;
	margin-left: 10px;
	background-position: 0 center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.adviceLink {
	background-image: url('adviceLinkIcon.png');
}

.commentLink {
	background-image: url('commentLinkIcon.png');
}

.priceAlertLink {
	background-image: url('priceAlertLinkIcon.png');
}

.shopListLink {
	background-image: url('shopListLinkIcon.png');
}

.shareTitle {
	line-height: 30px;
	font-size: 12px;
	color: #666;
	text-transform: uppercase;
	padding-left: 20px;
	background: url('shareIcon.png') no-repeat 0 center;
}

.smlIconSet .shareTitle {
	line-height: 20px;
}

.shareBtns .col {
	padding-right: 5px;
}

.shareBtns a {
	float: left;
	width: 30px;
	height: 30px;
	background-position: 0 center;
	background-repeat: no-repeat;
	opacity: .3;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
}

.smlIconSet .shareBtns a {
	width: 20px;
	height: 20px;
}

.shareBtns a:hover {
	opacity: 1;
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	-ms-filter: grayscale(0%);
	-o-filter: grayscale(0%);
	filter: grayscale(0%);
}

#fbLikeBtn {
	background-image: url('fbLikeBtn.png');
}

.smlIconSet #fbLikeBtn {
	background-image: url('fbLikeSmlBtn.png');
}

#fbShareBtn {
	background-image: url('fbShareBtn.png');
}

.smlIconSet #fbShareBtn {
	background-image: url('fbShareSmlBtn.png');
}

#twBtn {
	background-image: url('twBtn.png');
}

.smlIconSet #twBtn {
	background-image: url('twSmlBtn.png');
}

#gpBtn {
	background-image: url('gpBtn.png');
}

.smlIconSet #gpBtn {
	background-image: url('gpSmlBtn.png');
}

#pinBtn {
	background-image: url('pinBtn.png');
}

.smlIconSet #pinBtn {
	background-image: url('pinSmlBtn.png');
}

#urun-tab .slide-wrapper {
	overflow: hidden;
}

#tabBtn li {
	cursor: pointer;
}

#tabBtn li.active {
	background: #f3f3f3;
	border-bottom: 1px solid #b7b7b7;
}

#tabBtn li span {
	text-transform: uppercase;
}

#tabBtn li.active span {
	color: #000;
}

#tabBtn li .stars {
	margin-top: 9px;
	margin-left: 10px;
}

#tabPanel {
	overflow: hidden;
}

#tabPanel li.current {
	text-align: justify;
	justify-content: center;
	align-items: center;
	display: flex;
	margin: 0 auto;
	padding: 0 20px;
}

#banks {
	line-height: 2;
}

.like {
	padding-left: 21px;
	background: url('likeIcon.png') no-repeat 0 center;
}

.dislike {
	padding-left: 21px;
	background: url('dislikeIcon.png') no-repeat 0 center;
}

#content {
	background-color: #f5f5f5 !important;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	/* width: calc(100vw - 10px); */
}

.productThumbs {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	position: absolute;
	bottom: 60px;
}

.productThumbs .ease {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

@media screen and (min-width: 1024px) {
	.variantBox select {
		float: left;
		min-width: 50px;
		height: 50px;
		border: none;
		box-sizing: border-box;
		padding: 0 !important;
		background-color: whitesmoke;
	}

	.variantBox a p {
		font-size: 17px;
		color: #707070 !important;
		font-weight: 600;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@media screen and (max-width: 1024px) {
	.bilgilendirme {
		float: left !important;
		width: 100% !important;
		margin: 20px 10px !important;
	}

	.variantWrapper.tooltipWrapper>.variantBox.subOne>div {
		margin: 0 10px;
	}

	#footerMiddle .col-2 {
		text-align: center !important;
	}

	.priceType {
		margin: 10px auto 20px !important;
		width: 100% !important;
	}

	.variantWrapper .subOne a.box-border {
		width: 50%;
		text-align: center;
	}

	.variantBox a p,
	.qtyBtns a p {
		height: 50px;
		line-height: 50px;
		font-size: 24px;
		font-weight: 400;
	}
}

@media screen and (max-width: 1000px) {
	.qtyBox {
		padding-right: 0;
	}
}

@media screen and (max-width: 1000px) and (min-width: 769px) {

	#productInfo,
	#productBrand {
		width: 100%;
	}

	#productInfo {
		padding-right: 0;
		padding-bottom: 10px;
	}

	#productBrand {
		padding-left: 0;
		padding-top: 10px;
		border-left: 0;
		border-top: 1px solid #ececec;
	}

	.productBrandImg {
		float: left;
		margin-bottom: 0;
	}

	#threeCol #productLeft,
	#threeCol #productRight {
		width: 100%;
	}

	#threeCol #productLeft {
		padding-right: 0;
		margin-bottom: 10px;
	}

	#threeCol #productBrandText {
		font-size: 17px;
	}

	#threeCol #productName {
		font-size: 30px;
	}

	#threeCol #productInfo {
		width: 100%;
	}

	#threeCol #productBrand {
		width: 100%;
		padding-left: 0;
		padding-top: 10px;
		border-left: 0;
		border-top: 1px solid #ececec;
	}

	#threeCol .productBrandImg {
		float: left;
	}

	#threeCol .productComment {
		clear: none;
	}

	#threeCol .priceLine,
	#threeCol .variantLine,
	#threeCol .productType,
	#threeCol .qtyBtns input,
	#threeCol .noteLine {
		line-height: 30px;
		font-size: 15px;
	}

	#threeCol .priceLine .col:last-child {
		width: 100%;
		clear: both;
	}

	#threeCol .priceType,
	#threeCol .variantType,
	#threeCol .noteTitle {
		width: 140px;
	}

	#threeCol .currencyPrice {
		font-size: 16px;
	}

	#threeCol .normalPrice {
		font-size: 23px;
	}

	#threeCol .discountPrice {
		font-size: 26px;
	}

	#threeCol .variantBox {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	#threeCol .variantBox a,
	#threeCol .variantBox select,
	#threeCol .qtyBtns a {
		min-width: 50px;
		height: 50px;
	}

	#threeCol .variantBox a p,
	#threeCol .qtyBtns a p {
		height: 48px;
		line-height: 48px;
		font-size: 16px;
	}

	#threeCol .variantBox select {
		width: 100%;
		font-size: 16px;
	}

	#threeCol .productType {
		line-height: 50px;
	}

	#threeCol .qtyBtns a p {
		font-size: 36px;
	}

	#threeCol .qtyBtns input {
		height: 50px;
		line-height: 50px;
		font-size: 25px;
	}

	#threeCol .buyBtn {
		width: 100%;
		padding-right: 0;
	}

	#threeCol .buyBtn a {
		width: 100%;
		text-align: center;
	}

	#threeCol .noteBox {
		width: 100%;
		padding-top: 10px;
	}

	#threeCol .noteBox textarea {
		width: 100%;
		min-height: 100px;
		font-size: 16px;
	}

	#threeCol .shareTitle {
		font-size: 16px;
	}

	#threeCol .smlIconSet .shareTitle {
		line-height: 30px;
	}

	#threeCol .smlIconSet .shareBtns a {
		width: 30px;
		height: 30px;
	}

	#threeCol .smlIconSet #fbLikeBtn {
		background-image: url("fbLikeBtn.png");
	}

	#threeCol .smlIconSet #fbShareBtn {
		background-image: url("fbShareBtn.png");
	}

	#threeCol .smlIconSet #twBtn {
		background-image: url("twBtn.png");
	}

	#threeCol .smlIconSet #gpBtn {
		background-image: url("gpBtn.png");
	}

	#threeCol .smlIconSet #pinBtn {
		background-image: url("pinBtn.png");
	}

	#threeCol #tabBtn li {
		width: 100%;
	}

	#threeCol #tabBtn li a {
		width: 100%;
		font-size: 16px;
	}

	#threeCol #tabPanel li,
	#threeCol #tabPanel li * {
		line-height: 22px;
		font-size: 14px;
	}
}

@media screen and (min-width:800px) {
	#productInfo {
		margin-bottom: 10px !important;
	}
}

@media screen and (max-width:800px) {
	.buyBtn {
		padding-right: 0;
		width: 100vw;
		height: 50px;
		border-radius: unset;
		position: fixed;
		bottom: 0;
		z-index: 999;
	}

	#addCartBtn {
		width: 100vw;
		height: -webkit-fill-available;
	}

	#productInfo {
		margin-bottom: 0 !important;
	}

	#mainColumn {
		margin-top: 0 !important;
	}

	#productMobileInfo {
		margin-top: 30px !important;
	}
}

@media screen and (min-width:768px) {
	div.buyBtn>a>span.fast {
		margin-right: 20px !important;
	}
}

@media screen and (max-width: 768px) {
	#pageContent>div.slide-wrapper {
		margin-top: 5px !important;
	}

	.buyBtn a {
		text-align: center;
		font-size: 120%;
	}

	.buyBtn a>span {
		width: 100%;
		text-align: center;
		padding: 0;
	}

	#productLeft {
		padding-right: 0;
		margin-bottom: 10px;
	}

	#productBrandText {
		font-size: 17px;
	}

	#productName {
		font-size: 110%;
		text-align: center;
		font-weight: 400;
	}

	.productComment {
		clear: both;
	}

	.priceLine,
	.variantLine,
	.productType,
	.qtyBtns input,
	.noteLine {
		line-height: 30px;
		font-size: 15px;
	}

	.priceType,
	.variantType,
	.noteTitle {
		width: 140px;
	}

	.currencyPrice {
		font-size: 16px;
	}

	.normalPrice {
		font-size: 23px;
	}

	.discountPrice {
		font-size: 26px;
	}

	.variantBox {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.variantBox select {
		width: 90%;
		font-size: 16px;
	}

	.productType {
		line-height: 50px;
	}

	.qtyBtns a p {
		font-size: 36px;
	}

	.qtyBtns input {
		height: 50px;
		line-height: 50px;
		font-size: 25px;
	}
}

@media screen and(max-width:320px) {

	.variantBox a,
	.variantBox select,
	.qtyBtns a {
		min-width: 32px;
		height: 32px;
	}

	.variantBox a p {
		width: 100%;
		height: 32px;
		line-height: 32px;
		text-align: center;
		font-size: 12px;
		color: #000;
	}
}

.noteBox {
	width: 100%;
	padding-top: 10px;
}

.noteBox textarea {
	min-height: 100px;
	font-size: 16px;
}

.shareTitle {
	font-size: 16px;
}

.smlIconSet .shareTitle {
	line-height: 30px;
}

.smlIconSet .shareBtns a {
	width: 30px;
	height: 30px;
}

.smlIconSet #fbLikeBtn {
	background-image: url("fbLikeBtn.png");
}

.smlIconSet #fbShareBtn {
	background-image: url("fbShareBtn.png");
}

.smlIconSet #twBtn {
	background-image: url("twBtn.png");
}

.smlIconSet #gpBtn {
	background-image: url("gpBtn.png");
}

.smlIconSet #pinBtn {
	background-image: url("pinBtn.png");
}

#tabBtn li:nth-child(even) {
	border-right: 0;
}

#tabBtn li span {
	font-size: 16px;
}

@media screen and (max-width: 540px) {
	.variantBox select {
		font-size: 22px;
		font-weight: 300;
	}

	#tabBtn li span {
		font-size: 15px;
	}
}

#productDetailTab h2 {
	font-size: 48px;
	line-height: 1.08365;
	font-weight: 600;
	letter-spacing: -.003em;
	color: #fff;
}

#productDetailTab ul li,
#productDetailTab p,
#productDetailTab p span {
	margin-top: .8em;
	color: #98989c;
	font-size: 18px !important;
	line-height: 1.47059;
	font-weight: 400;
	letter-spacing: -.022em;
}

#mobileBuyBtn {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	margin: 0 auto;
	flex: 100%;
	width: 140px;
}

#mobileBuyBtn .subOne {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
	max-width: fit-content;
	margin: 0 auto;
}

#mobileBuyBtn .subOne a.col {
	display: flex;
	height: 60px;
	width: 60px;
	flex-wrap: wrap;
	padding: 0;
	text-align: center;
	justify-content: center;
	align-items: center;
	border: 4px solid #ccc;
	border-radius: 60px;
	margin: 5px;
}

#mobileBuyBtn .subOne a.col:hover,
#mobileBuyBtn .subOne a.col:focus,
#mobileBuyBtn .subOne a.col:active {
	background-color: #000;
}

#mobileBuyBtn .subOne a.col:hover p,
#mobileBuyBtn .subOne a.col:focus p,
#mobileBuyBtn .subOne a.col:active p {
	color: #fff !important;
}

#pageContent {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	margin: auto;
	padding: 0 20px;
}

#productRight {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 75vh;
}

#productRight .add-to-cart-win {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 15px auto;
	height: -webkit-fill-available;
}

#productRight.loaderWrapper {
	justify-content: flex-start;
}

.btn-basket-buy .forMobile {
    color: #fff;
    font-weight: 500;
    font-size: .9em;
}

.headline-5 {
	color: #e6e6e6;
	font-size: 1.1em;
}

.next-prev-area {
	position: absolute;
	left: -10vw;
	right: -10vw;
	top: 0;
	bottom: 0;
}

.pure-arrow {
	width: 4vmin;
	height: 4vmin;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 999;
	margin: auto;
}

.pure-arrow:hover {
	cursor: pointer;
}

.pure-arrow::before {
	content: '';
	width: 100%;
	height: 100%;
	border-width: .1vmin .1vmin 0 0;
	border-style: solid;
	border-color: #000;
	transition: .2s ease;
	display: block;
	transform-origin: 100% 0;
}

.pure-arrow::after {
	content: '';
	float: left;
	position: relative;
	top: -100%;
	width: 100%;
	height: 100%;
	border-width: 0 .1vmin 0 0;
	border-style: solid;
	border-color: #000;
	transform-origin: 100% 0;
	transition: .2s ease;
}


.next-prev-area .pure-arrow.nextbutton {
	right: 0;
	transform: rotate(45deg);
}

.next-prev-area .pure-arrow.prevbutton {
	left: 0;
	transform: rotate(-135deg);
}

@media	screen and (min-width:1899px) {
	.productThumbs {
		position: absolute;
		bottom: 50px;
	}
}

@media screen and (max-width:1899px) {
	#productRight {
		height: 95vh;
	}
}

@media screen and (max-width:1600px) {
	.next-prev-area {
		left: -5vw;
		right: -5vw;
	}
	#productMobileInfo {
		padding-top: 30px;
	}
}

@media screen and (max-width:1280px) {
	.next-prev-area {
		left: -1vw;
		right: -1vw;
	}
}

@media screen and (min-width:1025px) {
	#productRight .add-to-cart-win {
		margin: 0 auto 10vh;
	}
}

@media screen and (max-width:1024px) {
	#pageContent {
		flex-direction: column;
		padding: 0;
	}

	.productThumbs {
		justify-content: center;
		align-items: center;
		text-align: center;
		position: unset;
		width: 100vw !important;
	}

	#content,
	#mobileBuyBtn {
		width: 100vw;
	}

	#mobileBuyBtn .subOne {
		padding: 0;
		width: calc(100vw - 40px);
		border: 4px solid #ddd;
		border-right: unset;
		border-bottom: unset;
	}

	#mobileBuyBtn .subOne a.col {
		height: 50px;
		width: calc((100vw - 40px) / 2);
		border-radius: 0;
		border: unset;
		border-right: 4px solid #ccc;
		border-bottom: 4px solid #ccc;
		margin: 0;
	}

	#productRight {
		height: unset;
	}

	#productRight .add-to-cart-win {
		height: unset;
	}

	#productRight.loaderWrapper {
		width: 100vw;
		justify-content: center;
		align-items: center;
		margin-top: 20px;
	}

	.productThumbs li .image-wrapper {
		margin: 0 3px;
		height: 10px;
		width: 40px;
		border-radius: unset;
	}
	.next-prev-area {
		left: -3vw;
		right: -3vw;
	}
}